# ignore built files and folders
bin/
lib/
test/
intermediate/
ipch/
*.suo
build-log.txt
docs/doxygen-warnings.txt
docs/winLAME-source-docs.chm
docs/html/
*.wixpdb
source/htmlhelp/index.hhk
# ignore thumbnails created by windows
Thumbs.db
# ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.opt
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sdf
*.opensdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
source/winlame/res/MainFrameRibbon.bml
source/winlame/res/MainFrameRibbon.h
source/winlame/res/MainFrameRibbon.rc
source/winlame/res/MainFrameRibbon.0407.bml
source/winlame/res/MainFrameRibbon.0407.h
source/winlame/res/MainFrameRibbon.0407.rc
*.VC.db
*.VC.opendb
source/cov-int/
source/cov-int.zip
buildtools/portable/PortableApps.comInstaller/
buildtools/portable/PortableApps.comLauncher/
buildtools/SonarQube/build-wrapper-win-x86/
buildtools/SonarQube/sonar-scanner-msbuild/
.sonarqube/
bw-output/
.vs/
packages/
uwpapp/winlame/
source/CoverageReport/
source/winLAME-coverage.xml

buildlibs/libogg-*/
buildlibs/libopusenc-*/
buildlibs/opusfile-*/
buildlibs/opus-*/
buildlibs/libmad-*/
buildlibs/taglib-*/
buildlibs/faac-master/
buildlibs/faad2-master/
buildlibs/libogg-*.tar.gz
buildlibs/libopusenc-*.tar.gz
buildlibs/opusfile-*.tar.gz
buildlibs/opus-*.tar.gz
buildlibs/libmad-*.tar.gz
buildlibs/taglib-*.tar.gz
buildlibs/faac-master.zip
buildlibs/faad2-master.zip
buildlibs/include/
buildlibs/lib/
