<?xml version='1.0' encoding="UTF-8" ?>
<!--

 winLAME - a frontend for the LAME encoding engine
 Copyright (c) 2005-2017 Michael Fink

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include config.wxi ?>

  <?define OutputDir = "$(var.winLAME.TargetDir)" ?>

  <Product
      Id="*"
      UpgradeCode="f36dad67-67a5-4d00-83fb-fe8a742c84f4"
      Name="$(var.ProductName)"
      Language="1033"
      Version="$(var.Version)" Manufacturer="Michael Fink">
    <Package
      Id="*"
      Description="$(var.ProductName) Setup"
      Comments="This installs $(var.ProductName)"
      Manufacturer="Michael Fink"
      InstallerVersion="405"
      InstallPrivileges="elevated"
      InstallScope="perMachine"
      AdminImage="no"
      Compressed="yes"
      ShortNames="no"
      Languages="1033"
      Keywords="winLAME mp3 encoding LAME Opus Ogg Vorbis FLAC"
      SummaryCodepage="1252"
      Platform="x86" />

    <Media Id="1" Cabinet="winLAME.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="Msvcrt140Msm" Language="0" SourceFile="$(env.CommonProgramFiles)\Merge Modules\Microsoft_VC140_CRT_x86.msm" DiskId="1" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="WinLame" Name="winLAME">
          <Directory Id="INSTALLDIR" Name="." />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="WinLameShortcutFolder" Name="winLAME" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="winLameCommonAppData" Name="winLAME" />
      </Directory>
    </Directory>

    <ComponentGroup Id="AllFiles">

      <Component Id="WinLameApp" Guid="*" Directory="INSTALLDIR">
        <File Id="WinLameExe" Name="winLAME.exe" DiskId="1" KeyPath="yes" Source="$(var.OutputDir)winLAME.exe" />
        <RegistryKey Root="HKCR" Key="Applications\winLAME.exe\SupportedTypes">
          <RegistryValue Name=".wav" Type="string" Value="" />
          <RegistryValue Name=".mp3" Type="string" Value="" />
          <RegistryValue Name=".mp2" Type="string" Value="" />
          <RegistryValue Name=".mpg" Type="string" Value="" />
          <RegistryValue Name=".opus" Type="string" Value="" />
          <RegistryValue Name=".spx" Type="string" Value="" />
          <RegistryValue Name=".ogg" Type="string" Value="" />
          <RegistryValue Name=".wma" Type="string" Value="" />
          <RegistryValue Name=".flac" Type="string" Value="" />
          <RegistryValue Name=".aac" Type="string" Value="" />
          <RegistryValue Name=".m4a" Type="string" Value="" />
          <RegistryValue Name=".ape" Type="string" Value="" />
          <RegistryValue Name=".m3u" Type="string" Value="" />
          <RegistryValue Name=".pls" Type="string" Value="" />
          <RegistryValue Name=".cue" Type="string" Value="" />
        </RegistryKey>
      </Component>

      <Component Id="WinLameShortcut" Guid="*" Directory="INSTALLDIR">
        <RegistryValue Id="RegistryKey1" Root="HKCU" Key="Software\winLAME\Install" Name="winLAMEShortcutPresent" KeyPath="yes" Type="string" Value="" />
        <Shortcut Id="Shortcut1" Directory="WinLameShortcutFolder" Name="winLAME"
          Target="[INSTALLDIR]winLAME.exe" Icon="WinLameShortcutIcon" IconIndex="0" Show="normal"
          Description="Starts winLAME" Advertise="no" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Directory="WinLameShortcutFolder" On="uninstall" Id="Shortcut1" />
      </Component>

      <Component Id="Presets" Guid="*" Directory="winLameCommonAppData">
        <File Id="PresetsXml" Name="presets.xml" DiskId="1" KeyPath="yes"
          Source="$(var.SolutionDir)source\presets.xml" />
      </Component>

      <Component Id="WinLameRes0407" Guid="*" Directory="INSTALLDIR">
        <File Id="WinLame0407Dll" Name="winLAME.0407.dll" DiskId="1" KeyPath="yes"
           Source="$(var.OutputDir)winLAME.0407.dll" />
      </Component>

      <Component Id="LibMp3LameLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibMp3LameDll" Name="libmp3lame.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libmp3lame.dll" />
      </Component>

      <Component Id="SndFileLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibSndFileDll" Name="libsndfile-1.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libsndfile-1.dll" />
      </Component>

      <Component Id="MadLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibMadDll" Name="libmad.dll" DiskId="1" KeyPath="yes"
           Source="$(var.OutputDir)libmad.dll" />
      </Component>

      <Component Id="ReadmeFiles" Guid="5224ddc3-9b66-4277-9fae-7f0f296e2e28" Directory="INSTALLDIR">
        <File Id="ReadmeTxt" Name="Readme.txt" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)readme.txt" />
        <File Id="CopyingTxt" Name="Copying.txt" DiskId="1" KeyPath="no"
           Source="$(var.SolutionDir)Copying" />
      </Component>

      <Component Id="BassLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="BassDll" Name="bass.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\bass.dll" />
      </Component>

      <Component Id="BassCdLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="BassCdDll" Name="basscd.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\basscd.dll" />
      </Component>

      <Component Id="BassWmaLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="BassWmaDll" Name="basswma.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\basswma.dll" />
      </Component>

      <Component Id="FlacDynamicLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibFlacDynamicDll" Name="libFLAC_dynamic.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libFLAC_dynamic.dll" />
      </Component>

      <Component Id="OggVorbisLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibVorbisDll" Name="libvorbis.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libvorbis.dll" />
      </Component>

      <Component Id="IclMathLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibMmdDll" Name="libmmd.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libmmd.dll" />
      </Component>

      <Component Id="MonkeysAudioLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="MacDllDll" Name="MACDll.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\MACDll.dll" />
      </Component>

      <Component Id="LibFaacLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibFaacDll" Name="libfaac.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libfaac.dll" />
      </Component>

      <Component Id="LibFaad2Library" Guid="*" Directory="INSTALLDIR">
        <File Id="LibFaad2Dll" Name="libfaad2.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libfaad2.dll" />
      </Component>

      <Component Id="LibGccLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibGccDll" Name="libgcc_s_sjlj-1.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libgcc_s_sjlj-1.dll" />
      </Component>

      <Component Id="LibOggLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibOgg0Dll" Name="libogg-0.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libogg-0.dll" />
      </Component>

      <Component Id="OpusLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="OpusDll" Name="opus.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\opus.dll" />
      </Component>

      <Component Id="LibOpusFileLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibOpusFile0Dll" Name="libopusfile-0.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libopusfile-0.dll" />
      </Component>

      <Component Id="LibWinPthreadLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibWinPthread1Dll" Name="libwinpthread-1.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libwinpthread-1.dll" />
      </Component>

      <Component Id="LibSpeexLibrary" Guid="*" Directory="INSTALLDIR">
        <File Id="LibSpeexDll" Name="libspeex.dll" DiskId="1" KeyPath="yes"
           Source="$(var.SolutionDir)source\libraries\libspeex.dll" />
      </Component>

      <Component Id="WinLameHelp" Guid="*" Directory="INSTALLDIR">
        <File Id="WinLameChm" Name="winLAME.chm" DiskId="1" KeyPath="yes"
           Source="$(var.OutputDir)winLAME.chm" />
      </Component>

    </ComponentGroup>

    <Feature Id="WinLame" Title="$(var.ProductName)"
      Description="Installs $(var.ProductName)." Level="1"
      AllowAdvertise="no" TypicalDefault="install" ConfigurableDirectory="INSTALLDIR">
      <ComponentGroupRef Id="AllFiles" />
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 2015 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="Msvcrt140Msm"/>
    </Feature>

    <Icon Id="WinLameShortcutIcon" SourceFile="$(var.winLAME.ProjectDir)res\winlame.ico" />

    <Property Id="ARPURLINFOABOUT"><![CDATA[http://winLAME.sourceforge.net/]]></Property>
    <Property Id="ARPCOMMENTS"><![CDATA[For more information, please visit http://winLAME.sourceforge.net/]]></Property>
    <Property Id="ARPPRODUCTICON" Value="WinLameShortcutIcon" />
    <Property Id="ARPHELPLINK" Value="http://winLAME.sourceforge.net/" />

    <Property Id="WIXUI_INSTALLDIR" Value="WinLame" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)docs\License.winLAME.rtf" />

    <UIRef Id="WixUI_InstallDir" />

    <UI>
      <ProgressText Action="ExecuteAction">System is being prepared for setup...</ProgressText>
      <ProgressText Action="InstallInitialize">Setup is being initialized...</ProgressText>
    </UI>

    <!-- upgrades -->
    <Property Id="UPGRADEGUIDS" Secure="yes" />
    <Property Id="UPGRADEGUIDSOLD" Secure="yes" />

    <MajorUpgrade MigrateFeatures="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- upgrade section for winLAME 2009 and later versions -->
    <Upgrade Id="f36dad67-67a5-4d00-83fb-fe8a742c84f4">
      <UpgradeVersion Property="UPGRADEGUIDS" Maximum="1.0.2014.1" IncludeMaximum="yes" />
    </Upgrade>

    <!-- upgrade section for old versions, <= 0.0.4.0 -->
    <Upgrade Id="6170bb18-ddf6-4d02-b37c-7713d8c43d6e">
      <UpgradeVersion Property="UPGRADEGUIDSOLD" Maximum="0.0.4.0" IncludeMaximum="yes" />
    </Upgrade>

  </Product>
</Wix>
